*{
    margin: 0;
    padding: 0;
}
#hdtigris{
    text-decoration: none;
    color: rgb(36, 33, 33);
    font-size: 28px;
    margin-left: 77px;
    font-style: normal;
    font-family: "lora",serif;
    font-weight: 580;
}
  .navabar{
    text-decoration: none;
    color: rgb(121, 118, 118);
    font-family: "Poppins", sans-serif;
    font-size: 17px;
}
header{
    height: 57px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    border-bottom: 1px solid rgb(228, 227, 227);
}
#navabarad{
    margin-right: 77px;
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
    gap: 30px;
    display : flex;
    flex-direction : row;
    gap: 24px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
}
img{
    width: 560px;
    height: 410px;
    margin-right: 77px;
    margin-top: 50px;
    border-radius: 9px;
}
#sectionmain{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    align-items : center;
}
#mainhead{
    font-size: calc(1.375rem + 1.5vw);
    margin-left: 77px;
    margin-top: 19px;
    font-family: "lora",serif;
    font-weight: 580;
}
#paragraph{
    margin-top: 24px;
    margin-left: 80px;
    color: rgb(108,117,125);
    font-size: 17px;
    margin-right: 25px;
    font-family: "Poppins", sans-serif;
    line-height: 150%;
}
#buttenlink{
    margin-top: 40px;
    margin-left: 80px;
    
}
#bookbutten{
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(54, 50, 50);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    

}
#contactbutten{
    display: inline-block;
    text-decoration: none;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #322f2f;
    border-radius: 5px;
    color: rgb(32, 31, 31);
    

}
#section2{
    
    margin-top: 50px;
    border-top: 1px solid rgb(228, 227, 227);
    background-color: #e9ecef;
    border-radius: 8px;
    
}
#h2tiger{
    margin-right: 77px;
    margin-left: 80px;
    margin-top: 50px;
    font-size: 20px;
    height: 485px;
    font-family: "lora",serif;
    font-weight: 600;

}
#prpage{
    margin-top: 20px;
    color: rgb(108,117,125);
    font-family: "Poppins", sans-serif;
    font-size: 17.7px;
    line-height: 150%;
    font-weight: 10;

}



#container{
    display: flex;
    flex: row;
    justify-content : center;
    align-items : center;
}
.containerimg{
    width: 320px;
    height: 280px;
    background-color: white;
    margin: 12px;
    margin-top: 45px;
    border-radius: 10px;
    border: 1px solid rgb(234, 234, 234);
    

}
.awardimg img{
    width: 48px;
    height: 48px;
    margin: 20px;
   
}
.containerimg h3{
    font-size: 17px;
    margin-left: 25px;
    font-family: "lora",serif;
    font-weight: 580;
}
.containerimg p{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    font-size: 15px;
    color: rgb(108,117,125);
    font-family: "Poppins", sans-serif;
    font-weight: 10;
    line-height: 150%;

}
#footerh3{
    font-size: 35px;
    margin-top: 30px;
    margin-left: 80px;
    margin-bottom: -9px;
    font-family: "lora",serif;
    font-weight: 580;
}
#footerbox{
    display : flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
    margin-left: 80px;
    margin-right: 77px;
    height: 500px;
}
.footerdiv{
    width: 260px;
    height: 420px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    border: 1px solid rgb(198, 197, 197);
    border-radius: 5px;
}
.footerdiv img{
    width: 260px;
    height: 200px;
    margin-top: 0px;
    border-radius: 5px;
}
#footerimg1{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: "lora",serif;
    font-weight: 580;
    
}
#footerp{
    font-size: 17px;
    margin-top: 10px;
    margin-left: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 5;
    line-height: 150%;

}
#footerbutton{
    display: inline-block;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(27, 25, 25);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 17px;
    margin-left: 20px;
    font-size: 17px;
}